<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>010SideMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE78EA4D1E859CA100B3F9DB</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>CE78EA611E859CA100B3F9DB</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>CE78EA6C1E859CA100B3F9DB</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
